body{
    background: #4DA0B0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto Mono', monospace;
}

body em{
    font-weight: bold;
}

.description{
    padding: 15px;
    text-align: center;
    color: #070f26;
}

header{
    color: #fff;
    text-align: center;
    padding: 15px;
}

footer{
    text-align: center;
    padding: 15px;
}

.title-footer{
    color: #070f26;
}

.title-footer a{
    text-decoration: none;
    color: #070f26;
    transition: 300ms;
}
.title-footer a:hover{
    text-decoration: underline;
    color: #fff;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social{
    text-decoration: none;
    margin: 5px;
    font-size: 22px;
    transition: 300ms;
    color: #fff;
}

.social:hover{
    color: #070f26;
}